.section{
    overflow-y: auto;
}
.section::-webkit-scrollbar {
    width: 14px;
}

.section::-webkit-scrollbar-track {
    background-color: #F0EDE8;
    border-radius: 0 100px 100px 0;
}

.section::-webkit-scrollbar-thumb {
    background-color: #918677;
    border-radius: 100px;
}